@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-10 offset-1 custom-formatting">
    <h4>Check out some of our amazing products!</h4>

    <br />
    <br />
    <br />
    <p>We have some amazing vendors with great products.</p>
    <h5>Click the products tab to see more!</h5>
</div>